body {
    background-color: rgb(198, 226, 235);
  }
.landing-page{
    background: white url("./assets/img/event-bg-2.jpeg") scroll center;
    background-size: cover;
    height: 100vh;
    color: rgb(204, 171, 212);
}
.wrapper{
    background-color: rgba(0,0,0,0.7);
    height: 100%;
}

.bg-teal, .btn-teal{
    background-color:  teal
}
.text-teal{
    color: teal;
}


